<div class="page_title">
    See them all!
</div>
<div class="section_card" data-ng-init="initializeExploreInfo()">
            <div class="page_title">
                <h2>Live Events</h2>
            </div>
            <div>
                <md-grid-list md-cols="1" md-cols-md="3" md-cols-lg="3" md-row-height="340px">
                    <md-grid-tile layout-margin="10" ng-repeat="event in liveEvents">
                        <div class="event_card">
                            <div class="event_card_teams">
                                <h2>{{event.team1}}</h2>
                                <h5>vs</h5>
                                <h2>{{event.team2}}</h2>
                            </div>
                            <div class="event_card_logo">
                                <img src="images/Cricket.png">
                            </div>
                            <div class="event_card_score">
                                <h2>
                                    {{event.team1_score}} / {{event.team2_score}}
                                </h2>
                            </div>
                            <div class="event_card_explore">
                                <a class="md-button md-raised md-shadow-animated md-primary" md-ink-ripple="true" ng-click="exploreEvent(event.eventId, event.live)">Explore</a>
                            </div>
                        </div>
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </div>
        <!--
        <md-grid-list md-cols="3" md-cols-md="3" md-col-sm="1" md-row-height="1:1">
            <md-grid-tile md-colspan="1" ng-repeat="event in liveEvents">
                <div class="event_card">
                    <div class="event_card_teams">
                        <h4>
                            {{event.team1}} vs {{event.team2}}<br>
                            {{event.date}}<br>
                            {{event.time}}<br>
                        </h4>
                        <h2>
                            {{event.score}}
                        </h2>
                    </div>
                    <div class="event_card_logo">
                        <img src="images/Cricket.png">
                    </div>
                    <div class="event_card_score">

                    </div>
                    <div class="event_card_explore">

                    </div>
                </div>
                -->
        <!--
            </md-grid-tile>
    <md-grid-tile>
        <h2>Hello World</h2>
    </md-grid-tile>
</md-grid-list>
-->
    <!--
    <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <div class="mdl-grid">
            <h2>Recent Events</h2>
        </div>
        <div class="mdl-grid">
            <div class="demo-card-event mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4--col"
                 ng-repeat="event in recentEvents">
                <div class="mdl-card__title mdl-card--expand">
                    <h4>
                        {{event.team1}} vs {{event.team2}}<br>
                        {{event.date}}<br>
                        {{event.time}}
                    </h4>
                    <h2>
                        {{event.score}}
                    </h2>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        View Details
                    </a>
                    <div class="mdl-layout-spacer"></div>
                    <i class="material-icons">event</i>
                </div>
            </div>
        </div>
    </div>
    <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">

    </div>
    <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
        <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                <h2 class="mdl-card__title-text">Updates</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                Non dolore elit adipisicing ea reprehenderit consectetur culpa.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Read More</a>
            </div>
        </div>
        <div class="demo-separator mdl-cell--1-col"></div>
        <div class="demo-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
                <h3>View options</h3>
                <ul>
                    <li>
                        <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox1" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">Click per object</span>
                        </label>
                    </li>
                    <li>
                        <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">Views per object</span>
                        </label>
                    </li>
                    <li>
                        <label for="chkbox3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox3" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">Objects selected</span>
                        </label>
                    </li>
                    <li>
                        <label for="chkbox4" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox4" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">Objects viewed</span>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">Change location</a>
                <div class="mdl-layout-spacer"></div>
                <i class="material-icons">location_on</i>
            </div>
        </div>
    </div>
    -->