<div class="background_image"></div>
<div class="top_navigation_pane">
    <a href="eventViewer">Home</a>
</div>
<br>
<md-button flex-gt-md="15" flex="30" md-colors="{background: 'red'}" md-colors-watch="false" ng-hide="exploredEvent.live">
    Event summary
</md-button>
<md-grid-list md-cols="4" md-cols-sm="4" md-cols-md="4" md-row-height="200px">
    <md-grid-tile md-colspan="1">
        <div class="explore_event_team_info section_card">
            <h4>{{exploredEvent.team1}}</h4>
            <h5>{{exploredEvent.team1_score}}</h5>
        </div>
    </md-grid-tile>
    <md-grid-tile md-colspan="1">
        <h2>vs</h2>
    </md-grid-tile>
    <md-grid-tile md-colspan="1">
        <div class="explore_event_team_info section_card">
            <h4>{{exploredEvent.team2}}</h4>
            <h5>{{exploredEvent.team2_score}}</h5>
        </div>
    </md-grid-tile>
    <md-grid-tile md-colspan="1">
        <div class="explore_event_team_info section_card explore_team_icon">
        <img ng-src="{{exploredEvent.icon}}" layout-margin="5">
        </div>
    </md-grid-tile>

    <md-grid-tile md-colspan="4">
        <div class="match_info">
            <div class="match_info_title">
                <span>Info Feed</span>
            </div>
            <div class="content">
                <p>
                    "Hey guys! Not packed at the moment with an hour to go.
                    But if local newspaper reports are to be believed,
                    the tickets that were made available for the local public at the box office were sold out within two hours.
                    Tickets online are sold out as well. People are still coming in. There's plenty of buzz, and traffic, outside.
                </p>
            </div>
        </div>
    </md-grid-tile>
    <md-grid-tile md-colspan="2">
        <div class="match_info">
            <div class="match_info_title">
                <span>Match Info</span>
            </div>
            <div class="content">
                <p>{{exploredEvent.description}}</p>
            </div>
        </div>
    </md-grid-tile>
    <md-grid-tile md-colspan="2">
        <div class="match_info">
            <div class="match_info_title">
                <span>Chat Box</span>
            </div>
            <div class="content">
                <div class="chat_area">
                    <div class="chat_item" ng-repeat="chat in exploredEvent.chat track by chat.id">
                        {{chat.name}}: {{chat.content}}
                    </div>
                </div>
                <div class="chat_input_area">
                    <md-input-container style="width: 70%;">
                        <input type="text" ng-model="message.content" class="defaultTextField" id="txtTeam2">
                    </md-input-container>
                    <md-button class="md-button md-accent" ng-click="sendMessage()" style="width: 20%; align-content: center;">
                        <!--<md-icon md-svg-icon="send" aria-label="send message"></md-icon>-->
                        <i class="material-icons">send</i>
                    </md-button>
                </div>
            </div>
        </div>
    </md-grid-tile>
</md-grid-list>