 <div>
    <div class="page_title">New Event</div>
    <md-grid-list md-cols="2" md-cols-md="4" md-cols-lg="6" md-row-height="1:1">
        <md-grid-tile layout-margin="10">
                <a class="default_btn event_btn" md-ink-ripple="true" href="#">
                    <div>
                        <h4>Cricket</h4>
                        <img src="images/Cricket.png" layout-margin="5">
                    </div>
                </a>
        </md-grid-tile>
        <md-grid-tile layout-margin="10">
                <a class="default_btn event_btn" md-ink-ripple="true">
                    <div>
                        <h4>Football</h4>
                        <img src="images/Soccer%20Ball.png">
                    </div>
                </a>
        </md-grid-tile>
        <md-grid-tile layout-margin="10">
                <a class="default_btn event_btn" md-ink-ripple="true">
                    <div>
                        <h4>Rugby</h4>
                        <img src="images/Rugby%20ball.png" layout-fill>
                    </div>
                </a>
        </md-grid-tile>
        <md-grid-tile layout-margin="10">
                <a class="default_btn" md-ink-ripple="true">
                    <div>
                        <h4>Custom</h4>
                        <img src="images/Winner.jpg" layout-fill>
                    </div>
                </a>
        </md-grid-tile>
        <md-grid-tile layout-margin="10">
                <a class="default_btn" md-ink-ripple="true">
                    <div>
                        <h4>Custom</h4>
                        <img src="images/Winner.jpg" layout-fill>
                    </div>
                </a>
        </md-grid-tile>
        <md-grid-tile layout-margin="10">
                <a class="default_btn" md-ink-ripple="true">
                    <div>
                        <h4>Custom</h4>
                        <img src="images/Winner.jpg" layout-fill>
                    </div>
                </a>
        </md-grid-tile>
    </md-grid-list>
    <br/><br/>
     <md-grid-list md-cols="5" md-cols-md="5" md-row-height="4:2">
         <md-grid-tile md-colspan="2">
             <md-input-container>
                 <label for="txtTeam1">Team Name</label>
                 <input type="text" ng-model="selectedEvent.team1" class="defaultTextField" id="txtTeam1">
             </md-input-container>
         </md-grid-tile>
         <md-grid-tile md-colspan="1">
             <h2> VS </h2>
         </md-grid-tile>
         <md-grid-tile md-colspan="2">
             <md-input-container>
                 <label for="txtTeam2">Team Name</label>
                 <input type="text" ng-model="selectedEvent.team2" class="defaultTextField" id="txtTeam2">
             </md-input-container>
         </md-grid-tile>
         <md-grid-tile md-colspan="5">
             <div class="match_info">
                 <div class="title">
                     <span>Match Info</span>
                 </div>
                 <div class="content">
                     <p>
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Pellentesque vehicula, leo at dictum cursus, eros orci lacinia sem,
                         a euismod quam mauris vel nisl. Vestibulum ante ipsum primis in faucibus.
                     </p>
                 </div>
             </div>
         </md-grid-tile>
     </md-grid-list>
     <a class="md-button md-raised md-primary" ng-click="newEvent()">Next</a>
</div>