<div class="background_image"></div>
<div class="top_navigation_pane">
    <a href="dashboard">Dashboard</a>
</div>
<div>
    <div class="page_title">New Event</div>
    <div class="section_card">
    <md-grid-list md-cols="2" md-cols-md="4" md-cols-lg="6" md-row-height="1:1">
        <md-grid-tile layout-margin="10">
                <a class="default_btn event_btn" md-ink-ripple="true" ng-click="setEventType('Cricket')">
                    <div>
                        <h4>Cricket</h4>
                        <img src="images/Cricket.png" layout-margin="5">
                    </div>
                </a>
        </md-grid-tile>
        <md-grid-tile layout-margin="10">
                <a class="default_btn event_btn" md-ink-ripple="true" ng-click="setEventType('Soccer')">
                    <div>
                        <h4>Football</h4>
                        <img src="images/Soccer%20Ball.png">
                    </div>
                </a>
        </md-grid-tile>
        <md-grid-tile layout-margin="10">
                <a class="default_btn event_btn" md-ink-ripple="true" ng-click="setEventType('Badminton')">
                    <div>
                        <h4>Badminton</h4>
                        <img src="images/badminton.png" layout-fill>
                    </div>
                </a>
        </md-grid-tile>
        <md-grid-tile layout-margin="10">
            <a class="default_btn event_btn" md-ink-ripple="true" ng-click="setEventType('Rugby')">
                <div>
                    <h4>Rugby</h4>
                    <img src="images/Rugby%20ball.png" layout-fill>
                </div>
            </a>
        </md-grid-tile>
        <md-grid-tile layout-margin="10">
                <a class="default_btn event_btn" md-ink-ripple="true" ng-click="setEventType('Basketball')">
                    <div>
                        <h4>Basket Ball</h4>
                        <img src="images/Basketball.png" layout-fill>
                    </div>
                </a>
        </md-grid-tile>
        <md-grid-tile layout-margin="10">
                <a class="default_btn event_btn" md-ink-ripple="true" ng-click="setEventType('Custom')">
                    <div>
                        <h4>Custom</h4>
                        <img src="images/Winner.png" layout-fill>
                    </div>
                </a>
        </md-grid-tile>
    </md-grid-list>
    <br/><br/>
     <md-grid-list md-cols="5" md-cols-md="5" md-row-height="4:2">
         <md-grid-tile md-colspan="2">
             <md-input-container>
                 <label for="txtTeam1">Name of Team 1</label>
                 <input type="text" ng-model="selectedEvent.team1" class="defaultTextField" id="txtTeam1">
             </md-input-container>
         </md-grid-tile>
         <md-grid-tile md-colspan="1">
             <h2> VS </h2>
         </md-grid-tile>
         <md-grid-tile md-colspan="2">
             <md-input-container>
                 <label for="txtTeam2">Name of Team 2</label>
                 <input type="text" ng-model="selectedEvent.team2" class="defaultTextField" id="txtTeam2">
             </md-input-container>
         </md-grid-tile>
         <md-grid-tile md-colspan="5">
             <div class="match_info">
                 <div class="match_info_title">
                     <span>Match Info</span>
                 </div>
                 <div class="content">
                     <textarea ng-model="selectedEvent.description"></textarea>
                 </div>
             </div>
         </md-grid-tile>
     </md-grid-list><br>
     <a class="md-button md-raised md-primary" ng-click="newEvent()">Publish to Live</a>
    </div>
</div>